
* {
	box-sizing: border-box;
}


body {
	background: url(../pic/Background.jpg);
	background-size: cover;
}

html, body {
  height: 100%;
}


.wrapper {
	min-height: 100%;
  margin-bottom: -60px;
}

.wrapper:after {
	content: "";
  display: block;
}

.footer, .wrapper:after {
	height: 60px;
}

.footer {
	min-width: 1200px;
	position: relative;
	margin-top: 36px;
	background-color: #fafafa;
	background-image: linear-gradient(rgba(255,255,255,.06), rgba(0,0,0,.06));
	border-top: 1px solid #607775;
}

.container {
	position: relative;
	width: 960px;
	margin: 0 auto;
}

.authorization {
	position: absolute;
	top: 30%;
	left: 38%;	
}

.authorize {
	font-family: open_sanslight, sans-serif;
	font-size: 12px;
	color: #727070;
	margin-left: 20px;
	margin-bottom: 5px;
}

.authorization_form {
	width: 330px;
	background-color: #f1f0ef;
	border: 1px solid #d6d4d3;
	border-radius: 4px;
}

.authorization_input {
	display: block;
	width: 250px;
	height: 40px;
	border-radius: 4px;
	border: 1px solid #d6d4d3;
	background-image: linear-gradient(rgba(251,249,249,0), #e9e7e7);
	margin-bottom: 25px;
	margin-left: 35px;
	padding-left: 70px;
	font-family: open_sanslight, sans-serif;
	font-size: 12px;
	color: #c7c6c6;
}

.authorization_input_email {
	margin-top: 40px;
	background-image: url(../pic/email.png);
	background-repeat: no-repeat;
	background-position: 15px 0;
}

.authorization_input_password {
	background-image: url(../pic/key.png);
	background-repeat: no-repeat;
	background-position: 15px 0;
}

.authorization_checkbox {
	margin-left: 35px;
	vertical-align: middle;
}

.remember_me {
	font-family: open_sansregular, sans-serif;
	color: #727070;
	font-size: 14px;
	line-height: 12px;
}

.authorization_submit {
	display: block;
	margin: 20px auto;
	border: 1px solid #d6d4d3;
	background-image: linear-gradient(rgba(251,249,249,0), #e9e7e7);
	color: #727070;
	width: 150px;
	height: 40px;
	font-family: open_sanssemibold, sans-serif;
	font-size: 14px;
	border-radius: 4px;
}

.authorization_submit:hover {
	border: 1px solid #50c8aa;
	background-image: linear-gradient(#5fdcbd, #3aa087);
	color: #1e7465;
}

.copyright {
	text-align: left;
	font-family: open_sanslight, sans-serif;
	font-size: 12px;
	margin-top: 22px;
}

.a_lock {
	padding-left: 28px;
	text-decoration: none;
	display: block;
  float: left;	
  font-family: open_sansbold, sans-serif;
	font-size: 14px;
	color: #9c9c9c;
	margin-right: 60px;
	margin-left: 170px;
	background: url(../pic/sprite-lock-w23h42.png) no-repeat 0 0;
}

.a_lock:hover {
	background: url(../pic/sprite-lock-w23h42.png) no-repeat 0 -21px;
}