* {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}


body {
	background: url(../pic/Background.jpg);
	background-size: cover;
}

html, body {
  height: 100%;
}


.wrapper {
	min-height: 100%;
  margin-bottom: -60px;
}

.wrapper:after {
	content: "";
  display: block;
}

.footer, .wrapper:after {
	height: 60px;
}

.footer {
	min-width: 1200px;
	position: relative;
	margin-top: 36px;
	background-color: #fafafa;
	background-image: linear-gradient(rgba(255,255,255,.06), rgba(0,0,0,.06));
	border-top: 1px solid #607775;
}

.wide_container {
	max-width: 1200px;
	min-width: 960px;
	margin: 0 auto;
	position: relative;
}

.header {
	min-width: 1200px;
	height: 97px;
	background: #727070 url("../pic/Header-bg.png") repeat-x;
	border-bottom: 7px solid #fff;
	box-shadow: 1px 1px rgba(0,0,0,.1);
	margin-bottom: 37px;
}

.container {
	position: relative;
	width: 960px;
	margin: 0 auto;
}

li {
	list-style: none;
}

.header__logo {
	position: absolute;
	left: 0;
	margin-top: 10px;
}

.header__social {
	position: absolute;
	right: 1%;
	margin-top: 26px;
}

.social__li {	
	float: right;
}

.social__a {
	display: block;
	width: 38px;
	height: 40px;
	margin-left: 13px;
}

.fb {
    background-image: url(../pic/sprite-soc-w152h80.png);
    background-position: 0 0;
    text-indent: -9999px;
}

.vk {
    background-image: url(../pic/sprite-soc-w152h80.png);
    background-position: 114px 0;
    text-indent: -9999px;
}

.tw {
    background-image: url(../pic/sprite-soc-w152h80.png);
    background-position: 76px 0;
    text-indent: -9999px;
}

.gt {
    background-image: url(../pic/sprite-soc-w152h80.png);
    background-position: 38px 0;
    text-indent: -9999px;
}

.fb:hover {
    cursor: pointer;
    background-image: url(../pic/sprite-soc-w152h80.png);
    background-position: 0 -40px;
}

.vk:hover {
    cursor: pointer;
    background-image: url(../pic/sprite-soc-w152h80.png);
    background-position: 114px -40px;
}

.tw:hover {
    cursor: pointer;
    background-image: url(../pic/sprite-soc-w152h80.png);
    background-position: 76px -40px;
}

.gt:hover  {
  cursor: pointer;
  background-image: url(../pic/sprite-soc-w152h80.png);
  background-position: 38px -40px;
}

.nav_ul {
	margin: 0;
	display: block;
	padding-left: 0;
}

.nav_a {
	display: block;
	width: 250px;
	height: 56px;
	text-decoration: none;
	padding-top: 14px;
	padding-left: 28px;
	background-color: #fbf9f9;
	background-image: linear-gradient(#fff 6%, #fbf9f9, #e9e6e5);
	font-family: open_sanssemibold, sans-serif;
	color: #727070;
	font-size: 20px;
}

.nav_a::hover {
	background-color: #e3e1e1;
	background-image: linear-gradient(#e8e7e7 13%, #e3e1e1, #c2c0c0);
}

.nav_a.current {
	background-color: #7ee8ce;
	background-image: linear-gradient(#7ee8ce, #3eb799);
	cursor: default;
}


.nav_ul>li {
	border-top: 1px solid #c2c0c0;
}

.nav_ul>li:first-child {
	border-top: none;
}

.contacts, .nav {
	border-radius: 4px;
	overflow: hidden;
	border: 1px solid #c2c0c0;
}

.nav {
	margin-bottom: 37px;
}

.contacts_header {
	margin-bottom: 0;
	margin-top: 0;
	padding-top: 10px;
	padding-left: 30px;
	width: 250px;
	height: 42px;
	font-family: open_sanssemibold, sans-serif;
	font-size: 20px;
	color: #d0982c;
	background-color: #f4cc7e;
	background-image: linear-gradient(#f4cc7e, #dcb15d);
	box-shadow: inset 0 1px #fff;
}


.contacts_ul {
	margin: 0;
	display: block;
	width: 250px;
	padding-left: 0;
}

.contacts_a {
	display: block;
	width: 250px;
	height: 38px;
	text-decoration: none;
	padding: 10px 0 0 70px;
	background-image: url();
	border-top: 1px solid #c2c0c0;
	font-family: open_sansregular, sans-serif;
	color: #727070;
	font-size: 14px;
}

.contacts_li {
	background-color: #e9e7e7;
	background-image: linear-gradient(rgba(251,249,249,0.5), #e9e7e7);
}

.contacts_li:hover {
	background-color: #e0c591;
	background-image: linear-gradient(rgba(251,249,249,0), #e0c591);
}

.contacts_a:hover {	
	color: #000;
	text-decoration: underline;
}

.contacts_a.mail:link {
	background-image: url(../pic/sprite-cont-w114h40.png);
	background-repeat: no-repeat;
	background-position: 10px 0;
}

.contacts_a.tel {
	background-image: url(../pic/sprite-cont-w114h40.png);
	background-repeat: no-repeat;
	background-position: 10px -38px;
}

.contacts_a.skype {
	background-image: url(../pic/sprite-cont-w114h40.png);
	background-repeat: no-repeat;
	background-position: 10px -76px;
}

.main {
	float: right;
	width: 650px;
}

.aside {
	float: left;
}

.section_header {
	margin-bottom: 0;
	margin-top: 0;
	padding-top: 14px;
	padding-left: 43px;
	height: 55px;
	font-family: open_sanssemibold, sans-serif;
	font-size: 20px;
	color: #eeedec;
	background-color: #a9a8a8;
	background-image: linear-gradient(#a9a8a8, #7b7878);
}

.section {
	background-color: #f0efee;
	border-radius: 5px;
	overflow: hidden;
	border: 1px solid #c5c5c5;
	box-shadow: inset 0 1px #c3c2c2;
	margin-bottom: 37px;
}

input[type="text"], textarea {
	color: #000;
	outline: none;
}


.feedback {
	background-color: #f0efee;
	border-radius:0 0 4px 4px;
	overflow: hidden;
	border: 1px solid #c5c5c5;
}

.feedback_form {
	margin-top: 30px;
	margin-left: 123px;
}

.feedback_name_email {
	float: left;
}

.form_text {
	display: block;
	font-family: open_sansregular, sans-serif;
	color: #727070;
	font-size: 14px;
	margin: 0;
}

.name {
	margin-right: 22px;
}

.name, .e-mail {
	font-family: open_sanslight, sans-serif;
	font-size: 12px;
	margin-top: 8px;
	padding-left: 8px;
	width: 190px;
	height: 40px;
	border-radius: 4px;
	border: 1px solid #d6d4d3;
	background-color: #e9e7e7;
	background-image: linear-gradient(rgba(251,249,249,0), #e9e7e7);
}

.feedback_input {
	display: block;
}


.feedback_message, .feedback_captcha {
	margin-top: 15px;
	float: left;
}

.message {
	font-family: open_sanslight, sans-serif;
	font-size: 12px;
	margin-top: 8px;
	padding-left: 8px;
	padding-top: 8px;
	width: 400px;
	min-height: 180px;
	max-width: 400px;
	border-radius: 4px;
	border: 1px solid #d6d4d3;
	background-color: #e9e7e7;
	background-image: linear-gradient(rgba(251,249,249,0), #e9e7e7);
}

.captcha {
	float: left;
	margin-top: 10px;
	width: 190px;
	height: 80px;
	overflow: hidden;
	background: #fff url(../pic/captcha-bg.png) center center no-repeat;
}

.captcha_input {
	float: left;
	margin-left: 20px;
	margin-top: 30px;
	font-family: open_sanslight, sans-serif;
	font-size: 12px;
	padding-left: 8px;
	width: 190px;
	height: 30px;
	border-radius: 4px;
	border: 1px solid #d6d4d3;
	background-color: #e9e7e7;
	background-image: linear-gradient(rgba(251,249,249,0), #e9e7e7);
}

.buttons {
	margin-top: 30px;
	margin-bottom: 100px;
	float: left;
}

.feedback_button {
	width: 120px;
	height: 40px;
	font-family: open_sanssemibold, sans-serif;
	font-size: 14px;
	border-radius: 4px;
	border: 1px solid #d6d4d3;
	background-color: #e9e7e7;
	background-image: linear-gradient(rgba(251,249,249,0), #e9e7e7);
	color: #727070;
}

.feedback_reset {
	margin-left: 100px;
}

.feedback_button:hover {
	border: 1px solid #50c8aa;
	background-color: #5fdcbd;
	background-image: linear-gradient(#5fdcbd, #3aa087);
	color: #1e7465;
}

.buttons {
	margin-left: 30px;
}

.has-error {
	border: 2px solid red;
	background: pink;
}

::-webkit-input-placeholder {color:#999;}
::-moz-placeholder          {color:#999;}
:-moz-placeholder           {color:#999;}
:-ms-input-placeholder      {color:#999;}

::-webkit-input-placeholder       {opacity: 1; transition: opacity 0.3s ease;}
::-moz-placeholder                {opacity: 1; transition: opacity 0.3s ease;}
:-moz-placeholder                 {opacity: 1; transition: opacity 0.3s ease;}
:-ms-input-placeholder            {opacity: 1; transition: opacity 0.3s ease;}
:focus::-webkit-input-placeholder {opacity: 0; transition: opacity 0.3s ease;}
:focus::-moz-placeholder          {opacity: 0; transition: opacity 0.3s ease;}
:focus:-moz-placeholder           {opacity: 0; transition: opacity 0.3s ease;}
:focus:-ms-input-placeholder      {opacity: 0; transition: opacity 0.3s ease;}

input.placeholder, textarea.placeholder { color: #999; }

.qtip-mystyle {
	background-color: #f00 !important;
	border-color: #933 !important;
	color: #fff !important;
}

.copyright {
	display: block;
	float: right;
	margin-right: 200px;
	font-family: open_sanslight, sans-serif;
	font-size: 12px;
	padding-top: 10px;
}

.a_lock {
	padding-left: 28px;
	text-decoration: none;
	display: block;
  float: left;	
  font-family: open_sansbold, sans-serif;
	font-size: 14px;
	color: #9c9c9c;
	margin: 20px 60px 0 170px;	
	background: url(../pic/sprite-lock-w23h42.png) no-repeat 0 0;
}

.a_lock:hover {
	background: url(../pic/sprite-lock-w23h42.png) no-repeat 0 -21px;
}